train_config.yaml
grad_flow/*
checkpoints/*
profiling/*
tlens_backup/*
logs/*
mtp.ipynb
data/open_web_text_10k/*
data/open_web_text/*
data/tiny_shakespeare/*
data/__pycache__/*
model/__pycache__/*
transformer_lens/__pycache__/*
.ipynb_checkpoints/*
.vscode/*
__pycache__/*
